    {% extends "base.html" %}
    {% block content %}
    <h2>Lista de Imóveis</h2>
    <div class="row">
        {% for im in imoveis %}
        <div class="col-md-4 mb-3">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ im.titulo }}</h5>
                <p class="card-text">{{ im.descricao }}</p>
                <p class="card-text"><strong>Valor venda:</strong> R$ {{ im.valor_venda }}</p>
                <p class="card-text"><strong>Cidade:</strong> {{ im.endereco.cidade if im.endereco }}</p>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}